html, body { box-sizing:border-box; font-family:Arial,sans-serif; font-size:1em; background-color:#fafafa; padding: 0; margin: 0; }
pre { white-space: pre-wrap;word-wrap: break-word; }
a { color: #2980b9; text-decoration: none; }
a:hover { text-decoration: underline; }
table, .card { box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);background-color:white; margin-bottom:2em; padding: 1em 1.5em; }
table { width: 100%; }
tr th, tr td { border-bottom: 1px solid #eee; padding: 0.5em 1em; }
tr th { text-align: left; }
tr th a { color: black; }
button { cursor: pointer; }
thead tr th { border-bottom: 2px solid #eee; }
.btn-new, .btn-show, .btn-delete {
    background-color: gray; color: white;
    display: inline-block; padding: 0.6em 1em; text-decoration: none; margin: 0.15em;
    /*text-shadow: 1px 1px 0 #333;*/
    font-size: 1em;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    border: none;
}
.btn-new { font-weight: bold; }
.btn-new:hover, .btn-show:hover, .btn-delete:hover {
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.24),0 3px 1px -2px rgba(0,0,0,0.3),0 1px 5px 0 rgba(0,0,0,0.22);
    text-decoration: none;
}
.btn-new:active, .btn-show:active, .btn-delete:active {
    box-shadow: none; ;
}
h2, h3 { font-weight: normal; padding:0; margin: 0; }
h2 { margin-bottom: 1em; }

.btn-new { background-color: #2980b9; }
.btn-show { background-color: green; }
.btn-delete { background-color: #b53c31; }

td.ok { background-color: rgba(153, 210, 62, 0.25); }
td.pending { background-color: rgba(232, 160, 0, 0.25); }
td.err { background-color: rgb(181, 60, 49); color: white; }
td.tools { text-align: right; padding-top: 0.1em; }

label { display: block; font-weight: bold; margin-bottom: 0.3em; }
input:not([type='checkbox']), select, textarea { display: block; width: 100%; margin-bottom: 0.3em; box-sizing:border-box; font-size: 1em;font-family:Arial,sans-serif; background-color: white; }
input:not([type='checkbox']), select, textarea { padding: 0.5em 0.6em; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border: 1px solid #ccc; }
textarea { height: 10em; }

.form-row { margin-bottom: 1em; }
.error { margin: 1em 0; background-color: #b53c31; padding: 0.8em 0.6em; color: white; }
.notice { margin: 1em 0; background-color: #2d9258; padding: 0.8em 0.6em; color: white; }

.head { padding: 1.5em; }
label.checkbox { font-weight: normal; }
.settings { float: right;  margin: 0.8em 0; }
.hide-large { display: block; }
.hide-small { display: none; }
hr { color: #ccc; height: 1px; background-color: #ccc; border: none; }

@media(min-width:640px) {
    html { padding: 0.5em 2em; }
    .head { padding: 0; }

    .hide-large { display: none; }
    .hide-small { display: block; }
}